{{ $item := . }}

{{/* Dynamic view adjusts to content type. */}}
{{ $show_authors_only := false }}{{/* Show authors only or full metadata? */}}
{{ $show_buttons := false }}
{{ $link := $item.RelPermalink }}
{{ $target := "" }}
{{ if $item.Params.external_link }}
{{ $link = $item.Params.external_link }}
{{ $target = "target=\"_blank\" rel=\"noopener\"" }}
{{ end }}
{{ if eq $item.Type "talk" }}
{{ $show_authors_only = true }}
{{ $show_buttons = true }}
{{ else if eq $item.Type "publication" }}
{{ $show_authors_only = false }}
{{ $show_buttons = true }}
{{ else if eq $item.Type "project" }}
{{ $show_authors_only = true }}
{{ $show_buttons = true }}
{{ end }}

{{/* Get summary. */}}
{{ $summary := "" }}
{{ if $item.Params.summary }}
{{ $summary = $item.Params.summary | markdownify | emojify }}
{{ else if .Params.abstract }}
{{ $summary = .Params.abstract | markdownify | emojify | truncate (site.Params.abstract_length | default 135) }}
{{ else if $item.Summary }}
{{ $summary = $item.Summary }}
{{ end }}


{{ if not site.Config.Privacy.GoogleAnalytics.Disable }}
  {{- with site.Config.Services.GoogleAnalytics.ID }}
    {{- if strings.HasPrefix (lower .) "ua-" }}
      {{- warnf "Google Analytics 4 (GA4) replaced Google Universal Analytics (UA) effective 1 July 2023. See https://support.google.com/analytics/answer/11583528. Create a GA4 property and data stream, then replace the Google Analytics ID in your site configuration with the new value." }}
    {{- else }}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ . }}"></script>
      <script>
        var doNotTrack = false;
        if ({{ site.Config.Privacy.GoogleAnalytics.RespectDoNotTrack }}) {
          var dnt = (navigator.doNotTrack || window.doNotTrack || navigator.msDoNotTrack);
          var doNotTrack = (dnt == "1" || dnt == "yes");
        }
        if (!doNotTrack) {
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
          gtag('config', '{{ . }}');
        }
      </script>
    {{- end }}
  {{- end }}
{{- end -}}


<div class="media stream-item">
  <div class="media-body">

    <h3 class="article-title mb-0 mt-0">
      <a href="{{$link}}" {{ $target | safeHTMLAttr }}>{{ $item.Title }}</a>
    </h3>

    {{ with $summary }}
    <div class="article-style">
      {{ . }}
    </div>
    {{ end }}

    <div class="stream-meta article-metadata">

      {{ if eq $item.Type "talk" }}
      <div>
        <span>
          {{ partial "functions/get_event_dates" $item }}
        </span>
        {{ with $item.Params.location }}
        <span class="middot-divider"></span>
        <span>{{ . }}</span>
        {{ end }}
      </div>
      {{ end }}

      {{ if and $show_authors_only $item.Params.authors }}
      <div>
        {{ partial "page_metadata_authors" $item }}. --
      </div>
      {{ else if not $show_authors_only }}
      {{ partial "page_metadata" (dict "page" $item "is_list" 1) }}
      {{ end }}
    </div>

    {{ if $show_buttons }}
    <div class="btn-links">
      {{ partial "page_links" (dict "page" $item "is_list" 1) }}
    </div>
    {{ end }}

  </div>
  <div class="ml-3">
    {{ $resource := ($item.Resources.ByType "image").GetMatch "*featured*" }}
    {{ with $resource }}
    {{ $image := .Resize "150x" }}
    <a href="{{$link}}" {{ $target | safeHTMLAttr }}>
      <img src="{{ $image.RelPermalink }}" alt="{{ $item.Title }}">
    </a>
    {{end}}
  </div>
</div>

